.title {
    display: flex;
    justify-content: center;
    color: goldenrod;
    font-family: 'Harry P';
    font-size: 6vw;
    padding: 12px 8px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    background-color: black;
    padding: 15px;
}

/*Photos at the top*/

.wedding-photos {
    display: flex;
    flex-direction: row;
    align-content: center;
}

    .wedding-photos > img {
        justify-content: space-between;
        border: silver solid;
        height: 33%;
        width: 33%;
    }

/*Details*/

.details {
    display: flex;
    flex-direction: row;
}

.FirstRow {
    cursor: pointer;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    color: goldenrod;
    padding: 8px;
    font-family: 'Harry P';
    font-size: 6vw;
}

.SecondRow {
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    width: 33%;
    color: white;
    font-size: 2.5vw;
    font-family: 'Palatino Linotype';
    padding: 3px 5px;
}
/*Our Story*/

.OurStory, .Countdown {

    flex-direction: row;
    color: goldenrod;
    font-family: 'Harry P';
    text-align: center;
    font-size: 6vw;

}

.Quote {
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Palatino Linotype';
    font-style: italic;
    padding: 8px;
}

.Story {
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Palatino Linotype';
    padding: 8px 5px;
}


/*Counter*/

section.counter {
    background-image: url('../images/counter-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
   
}

    section.counter h1 {
        font-family: 'Harry P';
        position: absolute;
        color: gold;
        bottom: -35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-size: 3vw;
        padding: 10px;
    }

    section.counter h5 {
        font-family: 'Harry P';
        position: absolute;
        color: gold;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;

    }

    section.counter img {
        height: 100%;
        padding: 10px;
    }

    section.counter .individual {
        opacity: 1;
    }

    section.counter .allInOne {
        display: none
    }

@media (max-width: 991px) and (min-width: 768px) {
    section.counter img {
        width: 95%;
    }

    section.counter h1 {
        font-size: 3vw;
    }

    section.counter h5 {
        font-size: 3vw;
    }
}

@media (max-width: 767px) {
    section.counter .individual {
        opacity: 0
    }

    section.counter .allInOne {
        display: block
    }

    section.counter h1 {
        top: 45%;
    }

    section.counter h5 {
        top: 60%;
    }

    section.counter img {
        width: 100%;
    }
}

/*Map*/

#map {
    height: 400px;
    width: 100%;
    border: 25px solid black;
}


/*RSVP Form*/


#theForm {

    font-family: 'Palatino Linotype';
    padding: 10px;
    border: solid black 15px;
}
input[type=submit] {
    width: 80%;
    background-color: goldenrod;
    color: white;
    font-family: 'Harry P';
}

input, textarea {
    font-size: 18px;
    width: 80%;
}


label {
    font-size: 16px;
    color: goldenrod;
}

/*Wishing Well*/

/*.WishingWell
{
    display: flex;
    color: gold;
}

.WishingWell {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    border: silver solid;
    width: 100%;
}*/


.WishingWell {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 25px;
    margin-right: 20px;
}

    .WishingWell > div {
        justify-content: space-between;       
        height: 33%;
        width: 33%;
    }
        .WishingWell > div:nth-of-type(2) {
            padding-left: 20px;
            padding-right: 20px;
            font-family: 'Palatino Linotype';
            font-size: 2.25vw;
        }

        .WishingWell > div:nth-of-type(3) {
            padding-left: 20px;
            font-family: 'Palatino Linotype';
            font-size: 1.75vw;
            color: goldenrod;
        }