
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="56">

    @RenderBody()
    <footer>Created by Melodie Joseph 2018</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQOJjmyCDydO4wIBUeDcSrjsjHBDHm2-c&callback=initMap"></script>

</body>
</html>
