@model RSVP

<br />
<div class="title">The Honour of your Presence is Requested at</div>
<div class="title">the Wedding of Mel and Art</div>
<br />

<!--Photos-->
<div class="wedding-photos">
    <img src="~/img/one.jpg">
    <img src="~/img/two.jpg">
    <img src="~/img/three.jpg">
</div>

<br />
<!--What, Where, Time-->

<div class="details">
    <div class="FirstRow">What</div>
    <div class="FirstRow">Where</div>
    <div class="FirstRow">Time</div>
</div>

<br />

<div class="details">
    <div class="SecondRow">The wedding of Artem Igorevich Shkumat and Melodie Laura Joseph</div>
    <div class="SecondRow"> 
    Ceremony: Cathedral of St. Patrick and St.Joseph <br /> 43 Wyndham Street, Auckland</div>
    <div class="SecondRow">4:00pm on the 2nd of March, 2019</div>
</div>

<div class="details">
    <div class="SecondRow"></div>
    <div class="SecondRow">Reception: Mount Albert War Memorial Hall, Moutn Albert</div>
    <div class="SecondRow">6:30pm start</div>
</div>

<br />
<!--Our Story-->

<div class="OurStory">Our Story</div>

<div class="Quote">
    "Where your treasure is, there will your heart be also."
    — Albus Dumbledore
</div>

<div class="Story">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</div>

<br />

<div class="Countdown">The Countdown has begun...</div>

<!-- Counter -->
<section class="counter">
    <div class="container">
        <div class="row text-center individual">
            <div class="col-3 wow tada">
                <img src="~/img/gryffindor-shield.jpg">
                <br />
                <h1 id="days"></h1>
                <h5>Days</h5>
            </div>
            <div class="col-3 wow tada">
                <img src="~/img/Slytherin.jpg">
                <br />
                <h1 id="hours"></h1>
                <h5>Hours</h5>
            </div>
            <div class="col-3 wow tada">
                <img src="~/img/Hufflepuff.jpg">
                <br />
                <h1 id="minutes"></h1>
                <h5>Minutes</h5>
            </div>
            <div class="col-3 wow tada">
                <img src="~/img/Ravenclaw.jpg">
                <br />
                <h1 id="seconds"></h1>
                <h5>Seconds</h5>
            </div>
        </div>
        <div class="row text-center allInOne">
            <div class="col-12 wow tada">
                <img src="~/img/count-number-bg.png">
                <h1 style="margin-top:100px;" id="all"></h1>
                <h1 style="margin-top:115px;">D : H : M : S</h1>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />
<br />
<div id="map"></div>

<script>
    function initMap() {
        var location = { lat: -36.846408, lng: 174.763178 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<!--RSVP Form-->
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
    <div class="WishingWell">
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <label asp-for="Name">Names of those attending: </label>
                <br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
                <br />
                @*<label asp-for="Email">Email: </label>
                <br />
                <input type="email" asp-for="Email" />
                <span asp-validation-for="Email"></span>*@
                @*<br />*@
                <label asp-for="DietReq">Dietary Requirements: </label>
                <br />
                <textarea rows="4" asp-for="DietReq"></textarea>
                <span asp-validation-for="DietReq"></span>
                <br />
                <input type="submit" value="SEND RSVP" />
                <div>@ViewBag.UserMessage</div>
            </form>
        </div>        
        <div>
            Thank you for sharing our very special day.
            <br />
            If you so desire, help us on our way
            <br />
            To a honeymoon away for a two-week spell...
            <br />
            With a gift of cash to wish us well.
        </div>
        <div>
            <p style="color: white">For the Cathedral Ceremony: </p> Please conform to tradition with formal wear.
            <br />
            <p style="color: white">For the Reception: </p> We are re-creating, as best as we can, J.K. Rowling’s enchanted world of Hogwarts. This means that you can dress up as a character/idea/element from the Harry Potter books / movies. 
            <br />
            For inspiration do Google the characters or better still, watch the movies.
            <br />
            If you don't dress up as a Harry Potter character you will be transformed with a wave of a magic wand!
        </div>
    </div>


